streamlit==1.30.0
plotly==5.18.0
langchain==0.1.8
langchain-core==0.1.8
langchain-google-genai==0.1.8
pandas==2.1.4
nest_asyncio==1.5.8
pillow==10.0.1
pypdf==3.17.3
docx2txt==0.8
msoffcrypto-tool==5.0.0
pytesseract==0.3.10
python-dotenv==1.0.1
numpy==1.26.3
